.bgimg
{
	background-image: url('https://media.npr.org/assets/img/2015/10/21/london-taxi-getty_wide-4836267fa86f3c604936c90c78390ed623ecc059.jpg?s=1400');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 650px;
}
.bg1img
{
	background-image: url('http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201409/321015887.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 850px;
}
.hearderset
{
	padding-top: 250px;
	box-sizing: border-box;
}
.hearderset h2{
	font-size: 32px
}
.hearderset h1{
	font-size: 62px;
	font-weight: bold;
}
.bg3img
{
	background-image: url('../img1/uber11.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 950px;
}
.firstpic
{
	    width: 900px;
    height: 400px;
    background-image: url('../img1/uber20.jpg');
    margin: 20px auto;
}